{% extends 'base.html' %}

{% block body_block %}
  <div class="jumbotron">


    <h1 style="text-align:center">Welcome to healthy life !</h1>

    <p style="text-align:center">Are you in risk ?!  just in a few steps , you can find out if you are a possible Diabetes patient.
With few simple personal infos , our progrom will take your entries and get them through,
our precisely created algorithms, to let you know if your in risk !
Healthy life also provides you with daily calorie advices, which you should not exceed for a HEALTHY LIFE :</p>

  <h3 style="text-align:center">Görkem Ayanoğlu 150719668</h3>
  <h3 style="text-align:center">Asaf Talha Gültekin 150119678</h3>
  <h3 style="text-align:center">Hüseyin Hasılcı 150119698</h3>
  </div>

{% endblock %}
